section.video
	.flex.flex--space-around
		
		.col-1
			.video-strip
			.flex-video <iframe width="560" height="315" src="https://www.youtube.com/embed/eA1MVS4Wya0" frameborder="0" allowfullscreen></iframe>
				
		.col-1.order-first
			p.home-lead.outdented ... Lorem ipsum Fugiat dolor incididunt irure id sint adipisicing irure nisi reprehenderit ...
			a(href="https://youtu.be/YyEqAOMm-O8").home-cta Auf YouTube anschauen
