section.start
	.flex.flex--center

		.col-2.push-right
			h2 RP Online Interaktiv Starterkit
			p.home-lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eligendi temporibus asperiores cumque ullam dolot quo.
