section.map
	.flex.flex--center

		.col-2.push-right
			h2 Interaktive Karte
			p.home-lead Hallo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eligendi temporibus asperiores cumque ullam dolot quo.

#map
	
section.leaflet.map.text
	.flex.flex--center
		.col-2
			p <strong>ORTSMARKE</strong> dolor incididunt irure id sint adipisicing irure nisi reprehenderit ad cillum exercitation in incididunt Ut adipisicing commodo labore laborum nulla fugiat ut ex pariatur culpa Duis labore labore esse laborum laboris aliqua commodo minim ut quis in elit exercitation non esse ut dolor occaecat sed labore ut occaecat consectetur sint in Duis Excepteur adipisicing sit eiusmod sunt eiusmod dolore mollit dolore Duis Excepteur adipisicing pariatur eiusmod anim id ea enim cillum ullamco esse eiusmod non enim exercitation dolore ad proident pariatur in non nostrud et laborum.
