section.video
	.flex.flex--center
		
		.col-1
			.video-strip
			
			
			
		.col-1.order-first
			p.home-lead.outdented ... Lorem ipsum Fugiat dolor incididunt irure id sint adipisicing irure nisi reprehenderit ...
			a(href="https://youtu.be/YyEqAOMm-O8").home-cta Auf YouTube anschauen
