section.map
	.flex.flex--center

		.col-2.push-right
			h2 Interaktive Karte
			p.home-lead Hallo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eligendi temporibus asperiores cumque ullam dolot quo.

#map
