---
layout: default
title: RP Interaktiv Starterkit
---


<div class="home-wrap">

	{% include header.html %}

	<div class="home-sections">

		<!-- All the section here-->

		{% include section-start.html %}
		{% include section-video.html %}
		{% include section-map.html %}
		{% include section-leaflet-map.html %}
		{% include section-leaflet-map-text.html %}
		{% include section-chart.html %}
		{% include columns.html %}


		<div style="height: 2000px"></div>

	</div>

</div>

<!-- <div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div> -->
